{% extends 'base.html.twig' %}

{% block title %}Modifier le profil{% endblock %}

{% block body %}
<div class="form">
    {{ form_start(formEditUser) }}
    <div class="formRow">
        {{ form_row(formEditUser.pseudo) }}
    </div>
    <div class="formRow">
        {{ form_row(formEditUser.image) }}
    </div>
    <div class="btnAjouter">
        {{ form_row(formEditUser.ajouter) }}
    </div>
    {{ form_end(formEditUser) }}
</div>    
{% endblock %}
