{% extends 'base.html.twig' %}

{% block title %}Détails de la formation{% endblock %}

{% block body %}
<main id="detailMain">
    <h1>{{ formation.nomFormation }}</h1>

    <div class="selecteur">
        {# {{ today }} <br> #}
        <span id="currentBtn" class="btnActive">Sessions en cours</span>
        <span id="upcomingBtn">Sessions à venir</span>
        <span id="pastBtn">Sessions passées</span>
    </div>
    <div class="tables">
        <table id="currentSessions">
            <tr>
                <th>Statut</th>
                <th>Session</th>
                <th>Référent</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Inscrits</th>
                <th>Actions</th>
            </tr>
            {% for session in currentSessions %}
            <tr>
                <td> 
                    {% if today > session.dateDebut and today < session.dateFin %}
                    <span>En cours</span>
                    {% elseif today > session.dateFin  %}
                    <span>Terminée</span>
                    {% elseif today < session.dateDebut and placesReserve == session.nbPlacesTotal %}
                    <span>Complet</span>
                    {% elseif today < session.dateDebut and placesReserve < session.nbPlacesTotal %}
                    <span>Disponible</span>   
                    {% endif %}
                </td>
                <td>{{ session.nomSession }}</td>
                <td>{{ session.Referent.prenom }} {{ session.Referent.nom }}</td>
                <td>{{ session.dateDebut | date('d/m/Y') }}</td>
                <td>{{ session.dateFin | date('d/m/Y')  }}</td> 
                <td>{{ placesReserve }}/{{ session.nbPlacesTotal }}</td>
                <td class="actions"><i class="fa-solid fa-arrow-up-right-from-square"></i></td>
            </tr>                
            {% endfor %}
        </table>           
        <table id="upcomingSessions">
            <tr>
                <th>Statut</th>
                <th>Session</th>
                <th>Référent</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Inscrits</th>
                <th>Actions</th>
            </tr>
            {% for session in upcomingSessions %}
            <tr>
                <td> 
                    {% if today > session.dateDebut and today < session.dateFin %}
                    <span>En cours</span>
                    {% elseif today > session.dateFin  %}
                    <span>Terminée</span>
                    {% elseif today < session.dateDebut and placesReserve == session.nbPlacesTotal %}
                    <span>Complet</span>
                    {% elseif today < session.dateDebut and placesReserve < session.nbPlacesTotal %}
                    <span>Disponible</span> 
                    {% endif %}
                </td>
                <td>{{ session.nomSession }}</td>
                <td>{{ session.Referent.prenom }} {{ session.Referent.nom }}</td>
                <td>{{ session.dateDebut | date('d/m/Y') }}</td>
                <td>{{ session.dateFin | date('d/m/Y')  }}</td>
                <td>{{ placesReserve }}/{{ session.nbPlacesTotal }}</td>
                <td class="actions"><i class="fa-solid fa-arrow-up-right-from-square"></i><a href="{{ path('delete_detail_formation', {'id': session.id}) }}"><i class="fa-solid fa-xmark"></i></a></td>
            </tr>                
            {% endfor %}
        </table>           
        <table id="pastSessions">
            <tr>
                <th>Statut</th>
                <th>Session</th>
                <th>Référent</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Inscrits</th>
                <th>Actions</th>
            </tr>
            {% for session in pastSessions %}
            <tr>
                <td> 
                    {% if today > session.dateDebut and today < session.dateFin %}
                    <span>En cours</span>
                    {% elseif today > session.dateFin  %}
                    <span>Terminée</span>
                    {% elseif today < session.dateDebut and placesReserve == session.nbPlacesTotal %}
                    <span>Complet</span>
                    {% elseif today < session.dateDebut and placesReserve < session.nbPlacesTotal %}
                    <span>Disponible</span> 
                    {% endif %}
                </td>
                <td>{{ session.nomSession }}</td>
                <td>{{ session.Referent.prenom }} {{ session.Referent.nom }}</td>
                <td>{{ session.dateDebut | date('d/m/Y') }}</td>
                <td>{{ session.dateFin | date('d/m/Y')  }}</td>
                <td>{{ placesReserve }}/{{ session.nbPlacesTotal }}</td>
                <td class="actions"><i class="fa-solid fa-arrow-up-right-from-square"></i></td>
            </tr>                
            {% endfor %}
        </table>
    </div>       
</main>
{% endblock %}
{% block javascripts %}
                <script src="{{ asset('js/sessionScript.js') }}"></script>
{% endblock %}
