{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}
<main id="detailMain">
    <h1 class="h1Formation">{{ formation.nomFormation }}</h1>

    <div class="selecteur">
        {# {{ today }} <br> #}
        <span id="currentBtn" class="btnActive">En cours</span>
        <span id="upcomingBtn">À venir</span>
        <span id="pastBtn">Terminé</span>
    </div>
    <div class="tables">
        <table id="currentSessions">
            <tr>
                <th>Statut</th>
                <th>Session</th>
                <th>Référent</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Inscrits</th>
                <th>Actions</th>
            </tr>
            {% for session in currentSessions %}
            <tr>
                <td> 
                    <span><i class="fa-solid fa-circle enCours"></i> En cours</span> 
                </td>
                <td>{{ session.nomSession }}</td>
                <td>{{ session.Referent.prenom }} {{ session.Referent.nom }}</td>
                <td>{{ session.dateDebut | date('d/m/Y') }}</td>
                <td>{{ session.dateFin | date('d/m/Y')  }}</td> 
                <td>{{ session.stagiaires | length }}/{{ session.nbPlacesTotal }}</td>
                <td class="actions"><a href="{{ path('detail_session', {'id': session.id}) }}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
            </tr>                
            {% endfor %}
        </table>           
        <table id="upcomingSessions">
            <tr>
                <th>Statut</th>
                <th>Session</th>
                <th>Référent</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Inscrits</th>
                <th>Actions</th>
            </tr>
            {% for session in upcomingSessions %}
            <tr>
                <td> 

                    {% if today < session.dateDebut and session.stagiaires | length == session.nbPlacesTotal %}
                    <span><i class="fa-solid fa-circle complet"></i> Complet</span>
                    {% elseif today < session.dateDebut and session.stagiaires | length < session.nbPlacesTotal %}
                    <span><i class="fa-solid fa-circle disponible"></i> Disponible</span> 
                    {% endif %}
                </td>
                <td>{{ session.nomSession }}</td>
                <td>{{ session.Referent.prenom }} {{ session.Referent.nom }}</td>
                <td>{{ session.dateDebut | date('d/m/Y') }}</td>
                <td>{{ session.dateFin | date('d/m/Y')  }}</td>
                <td>{{ session.stagiaires | length }}/{{ session.nbPlacesTotal }}</td>
                <td class="actions"><a href="{{ path('detail_session', {'id': session.id}) }}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a><a href="{{ path('delete_session_formation', {'id': session.id}) }}"><i class="fa-solid fa-xmark"></i></a></td>
            </tr>                
            {% endfor %}
        </table>           
        <table id="pastSessions">
            <tr>
                <th>Statut</th>
                <th>Session</th>
                <th>Référent</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Inscrits</th>
                <th>Actions</th>
            </tr>
            {% for session in pastSessions %}
            <tr>
                <td> 
                    <span><i class="fa-solid fa-circle termine"></i> Terminée</span>
                </td>
                <td>{{ session.nomSession }}</td>
                <td>{{ session.Referent.prenom }} {{ session.Referent.nom }}</td>
                <td>{{ session.dateDebut | date('d/m/Y') }}</td>
                <td>{{ session.dateFin | date('d/m/Y')  }}</td>
                <td>{{ session.stagiaires | length }}/{{ session.nbPlacesTotal }}</td>
                <td class="actions"><a href="{{ path('detail_session', {'id': session.id}) }}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
            </tr>                
            {% endfor %}
        </table>
    </div>
    <div id="divBtn">
        <button id="btnAjout">Ajouter une session</button>
    </div>
    <div id="overlay">
        <div class="form">
            {{ form_start(formAddSession) }}
            <div class="formRow">
                {{ form_row(formAddSession.nomSession) }}
                {{ form_row(formAddSession.referent) }}
                {{ form_row(formAddSession.formation, { 'attr': {'class': 'hidden'} }) }}
            </div>
            <div class="formRow">
                {{ form_row(formAddSession.nbPlacesTotal) }}
                {{ form_row(formAddSession.dateDebut) }}
                {{ form_row(formAddSession.dateFin) }}
            </div>
            <div class="btnAjouter">
                {{ form_row(formAddSession.ajouter) }}
            </div>
            {{ form_end(formAddSession) }}
            <i id="btnFermer" class="fa-solid fa-xmark"></i>
        </div>    
    </div>        
</main>
{% endblock %}
{# {% block javascripts %}
                <script src="{{ asset('js/sessionScript.js') }}"></script>
{% endblock %} #}
