{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}
<main id="formationMain">
    <h2>Formations</h2>
<div class="formations">
    {% for formation in formations %}
        <a class="card" href="{{ path('detail_formation', {'id': formation.id}) }}">{{ formation.nomFormation}}</a>
    {% endfor %}
</div>
    <div id="divBtn">
        <button id="btnAjout">Ajouter une formation</button>
    </div>
    <div id="overlay">
        <div class="form">
            {{ form_start(formAddFormation) }}
            <div class="formRow">
                {{ form_row(formAddFormation.nomFormation) }}
            </div>
            <div class="btnAjouter">
                {{ form_row(formAddFormation.ajouter) }}
            </div>
            {{ form_end(formAddFormation) }}
            <i id="btnFermer" class="fa-solid fa-xmark"></i>
        </div>    
    </div>
</main>   
{% endblock %}
{# {% block javascripts %}
    <script src="{{ asset('js/formationScript.js') }}"></script>
{% endblock %} #}
