{% extends 'base.html.twig' %}

{% block title %}Hello StagiaireController!{% endblock %}

{% block body %}
<main id="stagiairesMain">
    <div class="stagiaires">
        <div class="searchBar">
            <input id="searchBar" onkeyup="affStagiaires()" type="text" placeholder="Rechercher un stagiaire">
        </div>
        <ul id='results'>
            {% for stagiaire in stagiaires %}
            <li class='result'>
                <a class="stagiaire" href="{{ path('detail_stagiaire', {'id': stagiaire.id}) }}">{{ stagiaire.nom ~ ' ' ~ stagiaire.prenom}}</a>
            </li>
            {% endfor %}
        </ul>
        <div id="divBtn">
            <button id="btnAjout">Ajouter un stagiaire</button>
        </div>
        <div id="overlay">
            <div class="form">
                {{ form_start(formAddStagiaire) }}
                <div class="formRow">
                    {{ form_row(formAddStagiaire.nom) }}
                    {{ form_row(formAddStagiaire.prenom) }}
                </div>
                <div class="formRow">
                    {{ form_row(formAddStagiaire.dateNaissance) }}
                    {{ form_row(formAddStagiaire.ville) }}
                </div>
                <div class="formRow">
                    {{ form_row(formAddStagiaire.email) }}
                    {{ form_row(formAddStagiaire.telephone) }}
                    {# {{ form_row(formAddStagiaire.sessions | date('d-m-Y')) }} #}
                </div>
                <div class="btnAjouter">
                    {{ form_row(formAddStagiaire.ajouter) }}
                </div>
                {{ form_end(formAddStagiaire) }}
                <i id="btnFermer" class="fa-solid fa-xmark"></i>
            </div>    
        </div>
    </div>
    </main>  
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/stagiaireScript.js') }}"></script>
{% endblock %}

