{% extends 'base.html.twig' %}

{% block title %}Hello ReferentController!{% endblock %}

{% block body %}
<main id="referentsMain">
    <h1>Référents</h1>
    <div class="referents">
        <div class="searchBar">
            <input id="searchBar" onkeyup="affPersonnes()" type="text" placeholder="Rechercher un referent">
        </div>
        <ul id='results'>
            {% for referent in referents %}
            <li class='result'>
                <a class="referent" href="{{ path('detail_referent', {'id': referent.id}) }}">{{ referent.nom ~ ' ' ~ referent.prenom}}</a>
            </li>
            {% endfor %}
        </ul>
        <div id="divBtn">
            <button id="btnAjout">Ajouter un referent</button>
        </div>
    </div>
    <div id="overlay">
        <div class="form">
            {{ form_start(formAddReferent) }}
            <div class="formRow">
                {{ form_row(formAddReferent.nom) }}
                {{ form_row(formAddReferent.prenom) }}
            </div>
            <div class="btnAjouter">
                {{ form_row(formAddReferent.ajouter) }}
            </div>
            {{ form_end(formAddReferent) }}
            <i id="btnFermer" class="fa-solid fa-xmark"></i>
        </div>    
    </div>
    </main>  
{% endblock %}
{# {% block javascripts %}
    <script src="{{ asset('js/referentScript.js') }}"></script>
{% endblock %} #}

