{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<main id="detailSessionMain">
    <div class="infos">
        <h2>{{ session.nomSession }}</h2>
        <div id="divBtn">
            <i id="btnAjout" class="fa-solid fa-pen-to-square"></i>
        </div>
        <div id="overlay">
            <div class="form">
                {{ form_start(formAddSession) }}
                <div class="formRow">
                    {{ form_row(formAddSession.nomSession) }}
                    {{ form_row(formAddSession.referent) }}
                    {{ form_row(formAddSession.formation) }}
                </div>
                <div class="formRow">
                    {{ form_row(formAddSession.nbPlacesTotal) }}
                    {{ form_row(formAddSession.dateDebut) }}
                    {{ form_row(formAddSession.dateFin) }}
                </div>
                <div class="btnAjouter">
                    {{ form_row(formAddSession.ajouter) }}
                </div>
                {{ form_end(formAddSession) }}
                <i id="btnFermer" class="fa-solid fa-xmark"></i>
            </div>    
        </div>       
        <div class="session">
            <span>Référent: {{ session.referent.prenom ~ ' ' ~ session.referent.nom}}</span>
            <span>Date de début: {{ session.dateDebut | date('d/m/Y') }}</span>
            <span>Date de fin: {{ session.datefin | date('d/m/Y') }}</span>
            <span>Nombre de places: {{ session.nbPlacesTotal }}</span>
            <span>Nombre de disponibles: {{ session.nbPlacesTotal - session.stagiaires | length }}</span>
        </div>
        <div class="modules">
            <h3>Programme</h3>
            <ul>
                {% for programme in programmes %}
                    <li>
                        <span class="module" >{{ programme.module.categorie.nomCategorie ~ ': ' ~ programme.module.nomModule ~ ' (' ~ programme.duree ~ ' Jours)'}}</span>
                        <a href="{{ path('retirer_programme', {'id':session.id,'programmeId': programme.id}) }}"><i class="fa-solid fa-xmark"></i></a>
                    </li>
                {% endfor %}
            </ul>
            <h3 class="autresModules">Autres modules</h3>
            <ul>
                {% for module in autresModules %}
                <li>
                    <form action="{{ path('ajouter_programme', {'id':session.id,'moduleId': module.id}) }}" method="post">
                        <span class="module">{{ module.nomModule }} 
                            <input name="duree" type="number" placeholder="Jours"> 
                            <input name="submitProgramme" type="submit" value="+" class="fa-solid fa-plus">
                        </span>
                    </form>
                </li>
                {% endfor %}
            </ul>  
        </div>
        <div class="stagiaires">
            <div class="inscrits">
                <h3>Stagiaires inscrits</h3>
                <ul>
                    {% for stagiaire in stagiairesInscrits %}
                    <li>
                        <a class="stagiaire" href="{{ path('detail_stagiaire', {'id': stagiaire.id}) }}">{{ stagiaire.nom ~ ' ' ~ stagiaire.prenom}}</a>
                        <a href="{{ path('desinscrire_stagiaire', {'id':session.id,'stagiaireId': stagiaire.id}) }}"><i class="fa-solid fa-xmark"></i></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="nonInscrits">
                <h3>Stagiaires non inscrits</h3>
                <div class="searchBar">
                    <input id="searchBar" onkeyup="affStagiaires()" type="text" placeholder="Rechercher un stagiaire">
                </div>
                <ul id='results'>
                    {% for stagiaire in stagiairesNonInscrits %}
                    <li class='result'>
                        <a class="stagiaire" href="{{ path('detail_stagiaire', {'id': stagiaire.id}) }}">{{ stagiaire.nom ~ ' ' ~ stagiaire.prenom}}</a>
                        {% if session.nbPlacesTotal > session.stagiaires | length %}
                            <a href="{{ path('inscrire_stagiaire', {'id':session.id,'stagiaireId': stagiaire.id}) }}"><i class="fa-solid fa-plus"></i></a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>   
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block javascripts %}
                <script src="{{ asset('js/stagiaireScript.js') }}"></script>
{% endblock %}