{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
<div>
    {{ today }} <br>
    <span>Sessions en cours</span>
    <span>Sessions à venir</span>
    <span>Sessions passées</span>
</div>
<table>
    <tr>
        <th>Statut</th>
        <th>Formation</th>
        <th>Session</th>
        <th>Référent</th>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Inscrits</th>
        <th>Actions</th>
    </tr>
{% for session in sessions %}
<tr>
    <td> 
        {% if today > session.dateDebut and today < session.dateFin %}
        <span>En cours</span>
        {% elseif today > session.dateFin  %}
        <span>Terminée</span>
        {% elseif today < session.dateDebut and session.nbPlacesLibres == 0 %}
        <span>Complet</span>
        {% elseif today < session.dateDebut and session.nbPlacesLibres > 0 %}
         <span>Disponible</span>   
        {% endif %}
    </td>
    {# <td>{{ session.nomFormation }}</td> #}
    <td>{{ session.nomSession }}</td>
    {# <td>{{ session.prenomReferent }} {{ session.nomReferent }}</td> #}
    <td>{{ session.dateDebut | date('d/m/Y') }}</td>
    <td>{{ session.dateFin | date('d/m/Y')  }}</td>
    <td>{{ session.nbPlacesReserves }}/{{ session.nbPlacesTotal }}</td>
    <td><i class="fa-solid fa-arrow-up-right-from-square"></i></td>
</tr>
    
{% endfor %}
</table>
{% endblock %}
