<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width,  initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}

    </head>
    {% if app.user %}
    <div id="btnBurger">
        <span id="burgerSpan1"></span>
        <span id="burgerSpan2"></span>
        <span id="burgerSpan3"></span>
    </div>
            <nav id="nav">
                <span id="imageProfil">
                    <img src="{{ asset('uploads/user/' ~ app.user.image ) }}" alt="">
                    <a href="{{ path('edit_user', {'id': app.user.id}) }}" class="editProfil"><i class="fa-solid fa-pen-to-square"></i></a>
                </span>
                <span id="pseudo">{{ app.user.pseudo }}</span>
                <ul>
                    {% set page = app.request.get('_route') %}
                    <li><a class=" {% if ('formation' in page) %} btnActive{% endif %}" href="{{ path('app_formation') }}">Formations</a></li>   
                    <li><a class=" {% if ('session' in page) %} btnActive{% endif %}" href="{{ path('app_session') }}">Sessions</a></li>   
                    <li><a class=" {% if ('categorie' in page) %} btnActive{% endif %}" href="{{ path('app_categorie') }}">Modules</a></li>   
                    <li><a class=" {% if ('referent' in page) %} btnActive{% endif %}" href="{{ path('app_referent') }}">Référents</a></li>   
                    <li><a class=" {% if ('stagiaire' in page) %} btnActive{% endif %}" href="{{ path('app_stagiaire') }}">Stagiaires</a></li>   
                    <li><a id="btnDeconnexion" href="{{ path('app_logout') }}">Deconnexion</a></li>
                </ul>
                <div id="toggleBtn">
                    <i class="fa-regular fa-moon"></i> 
                    <i class="fa-solid fa-sun"></i>
                    <div id="toggleDot"></div>
                </div>              
            </nav>
            {% endif %}
            {% block body %}
            {% endblock %}
            {% block javascripts %}
                <script src="{{ asset('js/script.js') }}"></script>
            {% endblock %}
</html>
