{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}
<main id="categorieMain">
<div class="categories">
    <h2>Catégories</h2>
    {% for categorie in categories %}
        <a class="card" href="{{ path('detail_categorie', {'id': categorie.id}) }}">{{ categorie.nomCategorie}}</a>
    {% endfor %}
    <div id="divBtn">
        <button id="btnAjout">Ajouter une categorie</button>
    </div>
</div>
<div id="overlay">
    <div class="form">
        {{ form_start(formAddCategorie) }}
        <div class="formRow">
            {{ form_row(formAddCategorie.nomCategorie) }}
        </div>
        <div class="btnAjouter">
            {{ form_row(formAddCategorie.ajouter) }}
        </div>
        {{ form_end(formAddCategorie) }}
        <i id="btnFermer" class="fa-solid fa-xmark"></i>
    </div>    
</div>
</main>   
{% endblock %}
{# {% block javascripts %}
    <script src="{{ asset('js/categorieScript.js') }}"></script>
{% endblock %} #}
